/*********************************************************
								Main  CSS
*********************************************************/
.formHeader {
	padding: .5rem 2rem !important;
}
/* Reduce Margins on Task Fields*/
.sharedForm,
.sharedFormField {
	border-top: 1px solid #dac0c0;
	margin-top: 8px !important;
	width: 100%;
}
/* Put Inputs on same line as Task Titles */
.sharedFormField {
	display: inline-flex;
	justify-content: space-between;
}
.cellContainer {
	padding-top: .5rem;
	width: 65%;
}
.description {
	line-height: normal;
	padding: .5rem;
}
/* Make Task Titles Bold */
.title {
	font-weight: bolder;
	padding-top: .5rem;
}
/* Reduce Font Size */
.title,
.description,
.validationMessage {
	font-size: 12px !important;
}
.formSubmit {
	margin-top: 1rem !important;
}
/* Hide the Airtable Ad footer */
.createYourOwnFormWithAirtable {
	display: none;
}
/* Custom Added Elements*/
.toggle-instructions {
	background-color: #97eaa2;
	border-radius: 2em;
	cursor: pointer;
	font-size: 18px;
	max-width: 17rem;
	padding: 10px 2px 10px 2px;
}
.toggle-icon {
	padding: .25rem .25rem .25rem .5rem;
}
/*********************************************************
								Split-View
*********************************************************/
/* Left align the form and reduce width*/
.formContent:after {
	content: "";
	display: table;
	clear: both;
}
.formContent {
	height: 98%;
	width: 98%;
}
.formHeader {
	height: 5rem;
	left: 0;
	right: 0;
	top: 0;
	margin-left: 0;
	max-width: 25rem;
}
.formFieldContainer,
.formSubmit {
	margin-left: 0;
}
/* LEFT PANEL */
.formFieldAndSubmitContainer {
	float: left;
	height: 99%;
	overflow-y: scroll;
	resize: horizontal;
	width: 29%;
}
/* RIGHT PANEL */
#iframeContainer {
	float: right;
	height: 100%;
	width: 64%;
}
iframe {
	height: 100%;
	width: 100%;
}
